body {
    margin: 0px;
    padding: 20px;
}

p {
    color: red;
    font-size: 10px;
}

#surveyForm {
    background-color: skyblue;
    padding: 20px;
    border-radius: 10px;
}

button {
    height: 30px;
    width: 100px;
    background-image: linear-gradient(to right, red, #f2df30);
    border-radius: 5px;
    color: white;
    border: none;

}